<h2>認証</h2>

<!--<button [routerLink]="['/signup']">新規登録</button>-->
<button>新規登録</button>

<!--
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="email">Email</label>
  <input type="email" class="input" formControlName="email" required />
  <label for="password">Password</label>
  <input type="password" class="input" formControlName="password" required />
  <button type="submit" class="button">ログイン</button>
</form>
-->
<form>
  <label for="email">Email</label>
  <input type="email" class="input" formControlName="email" required />
  <label for="password">Password</label>
  <input type="password" class="input" formControlName="password" required />
  <button type="submit" class="button">ログイン</button>
</form>
